@media (max-width: 668px){
    a, p, button, span, ul, li{
        font-size: .8rem;
    }
    .app_showcase_left {
        max-width: 96%;
    }
    .app_showcase {
 
flex-direction: column;
 
padding: 2rem 0;
 
text-align: center;
 
}
    .app_showcase_left h5{
        font-size: .8rem;
    }
    .app_showcase_left h1{
        font-size: 32px;
    }
    .app_showcase_left p {
        max-width: 70%;
        margin: auto;
        padding-bottom: 1.5rem;
    }

    .app_showcase_right {
        max-width: 98%;
        display: flex;
    
        justify-content: flex-start;
    }
    .landing_page_nav_wrap {
     
        display: none;
    }

  
   
    .features,
    #un_truth,
    .pricing,
    .range_pricing,
    #startFreeTrial,
    #faq,
    #promotions,
    #footer{
        display: none;
    }


    .landing_page_header{
        height: 100vh;
    }

.slide{
padding: 0 1rem;
}

.slide img{
width:50px;
}

.slider_extra_color{
    padding: 1.5rem 0;
}

.slider_wrapper{
    padding: 0;
}

.t_header p::after {
  
    width: 80px;
    top: 13px;
    left: 148px;
}

.t_header p::before {
    width: 88px;
    top: 13px;
    right: 148px;
}



}


@media (max-width: 768px) {
    .t_boxes {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding: 15px;
        gap: 15px;
        justify-content: flex-start;
    }

    .testimonial-card {
        max-width: 70%; /* Each card takes most of the viewport width */
        scroll-snap-align: start;
        flex-shrink: 0;
        padding: 1.5rem;
    }

    .testimonial-card p{
        font-size: 12px;
        line-height: 18px;
    }
    .t_header {
     
        padding: 2.5rem 0px 2rem;
    }

    .slider {
        display: flex;
        transition: transform 0.5s linear;
        align-items: center;
        justify-content: center;
    }

    .star-rating {
        color: rgb(76, 175, 80);
        font-size: .8rem;
        margin: .5rem 0px;
    }
    .testimonial-card .logo {
        margin-top: 1rem;
    } 
    .testimonial-card h3{
        font-size: 1rem;
    }  
}