@media (max-width: 668px){
  
    .app_showcase_left {
        max-width: 96%;
    }
    .app_showcase {
 
flex-direction: column;
 
padding: 2rem 0;
 
text-align: center;
 
}
    .app_showcase_left h5{
        font-size: .8rem;
    }
    .app_showcase_left h1{
        font-size: 32px;
    }
    .app_showcase_left p {
        max-width: 70%;
        margin: auto;
        padding-bottom: 1.5rem;
    }

    .app_showcase_right {
        max-width: 98%;
        display: flex;
    
        justify-content: flex-start;
    }
    .landing_page_nav_wrap {
     
        display: none;
    }

  
   

  
    .pricing,
    .range_pricing,
    #startFreeTrial,
    #faq,
    #promotions,
    #footer{
        display: none;
    }


    .landing_page_header{
        height: 100vh;
    }

.slide{
padding: 0 1rem;
}

.slide img{
width:50px;
}

.slider_extra_color{
    padding: 1.5rem 0;
}

.slider_wrapper{
    padding: 0;
}

.t_header p::after {
  
    width: 80px;
    top: 13px;
    left: 148px;
}

.t_header p::before {
    width: 88px;
    top: 13px;
    right: 148px;
}

.feature-cards-container {

    display: flex;
    flex-direction: column;
    padding: 1rem;
}

}


@media (max-width: 768px) {

    a, p, button, span, ul, li{
        font-size: .8rem;
        line-height: 18px;
    }
    h2{
        font-size: 1.8rem;
    }
    .t_boxes {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding: 15px;
        gap: 15px;
        justify-content: flex-start;
        padding-bottom: 1.5rem;
    }

    .testimonial-card {
        max-width: 70%; /* Each card takes most of the viewport width */
        scroll-snap-align: start;
        flex-shrink: 0;
        padding: 1.5rem;
    }

    .testimonial-card p{
        font-size: 12px;
        line-height: 18px;
    }
    .t_header {
     
        padding: 2.5rem 0px 2rem;
    }

    .slider {
        display: flex;
        transition: transform 0.5s linear;
        align-items: center;
        justify-content: center;
    }

    .star-rating {
        color: rgb(76, 175, 80);
        font-size: .8rem;
        margin: .5rem 0px;
    }
    .testimonial-card .logo {
        margin-top: 1rem;
    } 
    .testimonial-card h3{
        font-size: 1rem;
    }  
    .feature-card {
        padding: 1.5rem;
    }
    .feature-card.dark p {
        padding-bottom: 3rem;
    }
    .feature-card h2 {
        margin-bottom: 8px;
        font-size: 1.5rem;
    }

    .feature-card.dark p{
        padding-bottom: 3rem;

    }

    .feature-card p {
        font-size: .8rem;
        padding-right: 4rem;
    }
    .feature-icon img {
        width: 70px;
    }

    .feauturs_main {
       
        background-size: 421px;
        padding: 0rem 0px 6rem;
    }
    .testimonial_wrap {
        padding-bottom: 1.5rem;
    }
    section#un_truth {
        margin-top: -3rem;
      
    }

    .tab-button {
        padding: 7px 14px;
    
        font-size: 14px;
       
    }

    .tab_content_wrap {
        display: flex;
        gap: 57px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .cross_arrow_sign, .right_arrow_sign {
        width: 27px;
        height: 19px;
        right: 50%;
        top: 231px;
        transform: rotate(90deg);
    }

    .tab-content {
      
        padding-top: 1rem;
    }

    .event_box_top {
        
height: 142px;
        
padding: .8rem 1rem 4rem;
    }
  
     .right_arrow_sign svg{
        /* font-size: 9px; */
        width: 13px;
     }

     .event_box_top ul li {
        font-size: 12px;
    }
    .title_and_icon h4 {
        font-size: .8rem;
    }

    .info_wrap {
 
        padding: .8rem .8rem 2rem;
      
        margin-top: -2.5rem;
    }

    .event-box.red .cross_arrow_sign {
        position: absolute;
        left: 19px;
        top: -42px;
        width: 28px;
    }

    .cookies_deleted span {
        width: 53px;
        height: 0;
        top: -34px;
        left: 51px;
    }


    .cookies_deleted p {
        position: absolute;
        top: -43px;
        left: 118px;
       
    }

    .event-box.red .cross_arrow_sign svg {
        color: white;
        width: 18px;
    }

    span.border_icon svg {
        position: absolute;
        left: 52px;
        top: -8.5px;
    }

    .tabs {
  
        margin-bottom: 24px;
      
    }

    section#un_truth {
       
        padding: 3rem 0;
    }
    .events_tab_main {
     
        margin-top: 1rem;
    }

    .events_summery {
      
        gap: 3px;
        margin-top: 1.5rem;
    }
}